<div [ngClass]="alerta" class="alert " role="alert">
  This is a primary alert—check it out!
</div>

<button type="button" class="btn btn-info" (click)="alerta = 'alert-info'">Info</button>
<button type="button" class="btn btn-success" (click)="alerta = 'alert-success'">Success</button>

<br><br>

<h3 [ngClass]="{'text-danger': propiedades.danger , 'text-info': !propiedades.danger}">
  Hola mundo
</h3>

<button (click)="propiedades.danger = !propiedades.danger"
 type="button" class="btn"
 [ngClass]="{'btn-danger': propiedades.danger, 'btn-info': !propiedades.danger}">
  cambiar
</button>

<br><br>

<h3>Proceso asíncrono</h3>

<button (click)="ejecutar()" 
  type="button" class="btn btn-primary"
  [disabled]="loading">
  <i [ngClass]="{'fa-save': !loading, 'fa-refresh fa-spin': loading}" class="fa" aria-hidden="true"></i>
  <span *ngIf="!loading">guardar cambios</span>
  <span *ngIf="loading">espere por favor</span>
</button>